<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BOGApp | Manage Orders </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css"
          integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webkit.js/0.1.0/webkit.js"
            integrity="sha512-4radB7wSGlmlQJiqgJadNNYINr9oy4iIfeTlv0a7x/AmtOqwNqtndOSusv70X0GmRstJKuNFNQ1w3T27Nq9A5w=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="../css/manage_orders.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header"><img height="40px" src="../favicon.ico" alt=""
                                        style="padding-top: 10px; padding-right: 10px"/>
            <a class="navbar-brand" href="../public/index.html">BOGApp</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="main.html">Home</a></li>
            <li class="active"><a href="products.html">Products list</a></li>
            <li class="active"><a href="manage_orders.html">Manage orders</a></li>
        </ul>
    </div>
</nav>
<div class="container-fluid row">
    <div id="maincontent">
        <div id="slider_container" class="row col-lg-12">
            <div id="slider"
                 class="slider-order-1 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-sm-6 col-md-6 col-lg-6">
                <div id="slider_content" class="slider-content-order-1 order-card"
                     :key="open_orders.length" style="max-height: 400px;">
                    <div class="text-center" v-if="open_orders.length > 0"> {{ this.count + 1 }} / {{ this.size }}</div>
                    <span v-else> Empty </span>
                    <div class="order-card" v-for="order in this.open_orders"
                         v-show="active_card(order)">
                        <order_card :current_order="order"></order_card>
                    </div>
                    <div id="slider_button" class="slider-button-order-1 col-sm-12 col-md-12 col-lg-12">
                        <button class="btn btn-primary" v-on:click="previous()" :disabled="!this.count ===0 ">←
                        </button>
                        <button class="btn btn-primary" v-on:click="next()" :disabled="!this.count ===0 ">→</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script>
    const app = new Vue({
        el: '#maincontent',
        data() {
            return {
                orders: [],
                open_orders: [],
                products: [],
                customers: [],
                count: 0,
                size: 0,
                modal_message: {
                    "date": '',
                    "message": ''
                }
            }
        },
        components: {
            'order_raw': {
                props: ['current_order'],
                template: `
                  <tr>
                  <td> {{ current_order.id * 17 - current_order.id % 17 }}</td>
                  <td> <span>
                    {{ current_order.customer.first_name }} {{ current_order.customer.last_name }}
                    </span>
                    <span>
                    {{ current_order.customer.street_name }}  {{ current_order.customer.postal_code }}
                      {{ current_order.customer.city }}
                    </span>
                  </td>
                  <td>
                    <li v-for="product in current_order.productlist">
                    <span>
                        {{ product.brand }}
                    </span>
                      <span>
                        {{ product.model }}
                    </span>
                      <span>
                        {{ product.price }}
                    </span>
                    </li>
                  </td>

                  <td>
                    {{ current_order.total_price }}
                  </td>

                  <td>
                    <button v-on:click="close_order_main(current_order)"> Close</button>
                  </td>
                  </tr>`,
                data: function () {
                    return {}
                },
                methods: {}
            },

            'order_card': {
                props: ['current_order'],
                emits: ['close_order'],
                methods: {
                    close_order_card(order) {
                        const requestOptions = {
                            method: 'PUT',
                            headers: {'Content-Type': 'application/json'},
                            body: order.id
                        };
                        fetch('http://127.0.0.117:1017/update_order', requestOptions)
                            .then(async response => {
                                const data = await response.json();
                                if (!data.success || data.status !== 202) {
                                    // get error message from body or default to response status
                                    const error = (data && data.message) || response.status;
                                    return Promise.reject(error);
                                } else if (data.status == 202) {
                                    today = new Date()
                                    this.$parent.modal_message.date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate() + today.getHours() + 'h' + today.getMinutes()
                                    this.$parent.modal_message.message = "La commande de " + data.order.customer.last_name + " " + data.order.customer.first_name + " du " + data.order.date + " a été fermée "

                                    this.$parent.show_modal()

                                }
                            })
                            .then(() => {
                                this.current_order.closed = 1
                                order.closed = 1
                                this.$parent.close_order(order)
                            })
                            .finally(
                            )
                            .catch(error => {
                                console.error('There was an error!', error);
                            });
                    }
                },
                template: `
                  <div class="card">
                  <div class="card-header card-header-order">
                    <h4 class="card-title">Commande n°{{ current_order.id * 17 - current_order.id % 17 }}
                      {{ current_order.customer.last_name }}
                      {{ current_order.customer.first_name }}</h4>
                  </div>
                  <div
                      class="card-body card-body-orders col-sm-offset-3 offset-md-3 col-offset-lg-6 col-sm-6 col-md-6 col-lg-6 ">
                    <div v-for="product in current_order.productlist" class="card-text card-text-orders">
                      <div class="checkbox-order-1">
                        <input type="checkbox">
                        {{ product.brand }}
                        {{ product.model }}
                        <span style="float: right; margin-right: 5%;"> xyz </span>
                      </div>
                    </div>
                    <div class="price-card">Total : {{ current_order.total_price }} €</div>
                    <div class="price-card">Date : {{ current_order.date }}</div>
                  </div>
                  <div
                      class="card-footer offset-sm-1 offset-md-1 offset-lg-1 col-sm-10 col-md-10 col-lg-10 card-footer-order text-right">
                    <button v-on:click="close_order_card(current_order)"
                            :class=" current_order.closed ?  'btn btn-secondary' : 'btn btn-danger'"
                            :disabled='current_order.closed'>
                      Close order
                    </button>
                  </div>
                  </div>
                `,
                data: function () {
                    return {}
                },

            },

            'popup_modal': {
                props: ['message'],
                methods: {
                    // https://codepen.io/SMLMRKHLMS/pen/rVYRLQ
                },
                template: `
                  <div id="popup">
                  <div>{{ message.date }}</div>
                  <div>{{ message.message }}</div>
                  </div>`,
                data: function () {
                    return {}
                },

            }
        },
        mounted() {
            fetch("http://127.0.0.117:1017/orders", {method: 'get'})
                .then((response) => response.json())
                .then((data) => {
                    this.orders = data.data;

                    this.orders.forEach(order => {
                        !order.closed ? this.open_orders.push(order) : null
                    })
                })
                .then(() => {
                    this.size = Object.keys(this.open_orders).length
                })
                .catch(e => {
                        console.log('Error occurred with fetching resources : ' + e)
                    }
                );
            fetch("http://127.0.0.117:1017/products")
                .then((response) => response.json())
                .then((data) => {
                    this.products = data;
                });
            fetch("http://127.0.0.117:1017/employee/customers")
                .then((response) => response.json())
                .then((data) => {
                    this.customers = data;
                });
        },
        methods: {

            next() {
                this.count = (this.count + 1 == this.size ? 0 : this.count + 1);
            },
            previous() {
                this.count = (this.count === 0 ? this.size - 1 : this.count - 1);
            },
            active_card(obj) {
                return obj ? this.open_orders[this.count].id === obj.id : false
            },
            close_order(obj) {
                this.open_orders = this.open_orders.reduce(
                    (previous, current) => (current.id !== obj.id && previous.push(current), previous), [])
                this.count = 0
                this.size = this.open_orders.length
                // /!\ this.$forceUpdate(); ==> :key
            },
            async show_modal() {
                return null
            },
        }
    })
</script>

<style>

    *, ::before, ::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background: #f1f1f1;
    }

    #popup.show {
        /* animation properties */
        animation-name: show_popup_animation;
        animation-duration: 5s;
        animation-direction: alternate;
        animation-iteration-count: 1;
        animation-timing-function: linear;

    }

    #popup {
        opacity: 0;
        position: fixed;
        width: 300px;
        height: 150px;
        right: 8%;
        bottom: 4%;
        background-color: darkblue;
        color: white;
        z-index: 100;
        transition: 10s;
    }

    @keyframes show_popup_animation {
        0% {
            opacity: 0;
            bottom: 4%;
        }
        10% {
            opacity: .2;
            bottom: 8%;
        }
        20% {
            opacity: .5;
            bottom: 12%;
        }
        30% {
            opacity: .8;
            bottom: 15%;
        }
        40% {
            opacity: 1;
            bottom: 15%;
        }
        50% {
            opacity: 1;
            bottom: 15%;
        }
        60% {
            opacity: 1;
            bottom: 15%;
        }
        70% {
            opacity: .8;
            bottom: 15%;
        }
        80% {
            opacity: .5;
            bottom: 12%;
        }
        90% {
            opacity: .2;
            bottom: 8%;
        }
        100% {
            opacity: 0;
            bottom: 4%;
        }
    }
</style>