<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <title>BOGApp | Products list</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="../js/products.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css"
          integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta charset="UTF-8">
    <link href="../css/products.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header"><img height="40px" src="../favicon.ico" alt=""
                                        style="padding-top: 10px; padding-right: 10px"/>
            <a class="navbar-brand" href="../public/index.html">BOGApp</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="main.html">Home</a></li>
            <li class="active"><a href="products.html">Products list</a></li>
            <li class="active"><a href="manage_orders.html">Manage orders</a></li>
        </ul>
    </div>
</nav>
<div id="app">
    <div class="container" >
        <h3>Available products</h3>
        <div class="product-list" v-if="!create">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Model</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Price</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="product in products">
                    <td class="col">{{ product.model }}</td>
                    <td class="col">{{ product.brand }}</td>
                    <td class="col">{{ product.price }} €</td>
                    <td class="col">
                        <button type="button" class="btn btn-warning"
                                v-on:click="update = true; changeProduct = product">
                            Update
                        </button>
                        <button type="button" class="btn btn-danger" v-on:click="deleteProduct(product)">
                            Delete
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <button type="button" class="btn btn-success" v-on:click="create = true; newProduct = {}">
                Add new product
            </button>
        </div>
        <br>
        <div class="row">
            <div class=" col-lg-4 offset-lg-2" v-if="create">


                <div class="input-group mb-3">
                    <span class="input-group-text">Product model:</span>
                    <input type="text" class="form-control" placeholder="Model" aria-label="Model"
                           aria-describedby="basic-addon1" v-model="newProduct.model">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Product brand:</span>
                    <!--                <input type="text" class="form-control" placeholder="Brand" aria-label="Brand"-->
                    <!--                       aria-describedby="basic-addon1" v-model="newProduct.brand">-->
                    <select name="" id="" v-model="newProduct.brand" class="form-select" aria-label="Default select example" aria-label="Brand" aria-describedby="basic-addon1">
                        <option v-for="brand in brands"> {{ brand }} </option>
                    </select>
                </div>


                <div class="input-group mb-3">
                    <span class="input-group-text">Product Category:</span>
                    <!--                <input type="text" class="form-control" placeholder="Brand" aria-label="Brand"-->
                    <!--                       aria-describedby="basic-addon1" v-model="changeProduct.brand">-->
                    <select name=""  v-model="newProduct.category" class="form-select" aria-label="Default select example" aria-label="Category" aria-describedby="basic-addon1">
                        <option v-for="category in category_list"> {{ category }} </option>
                    </select>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Product price:</span>
                    <input type="text" class="form-control" placeholder="Price" aria-label="Price"
                           aria-describedby="basic-addon1" v-model="newProduct.price">
                </div>
                <div class="products-button-1">
                    <button type="button" class="btn btn-success" v-on:click="addProduct()">
                        Create product
                    </button>
                    <button type="button" class="btn btn-danger" v-on:click="create = false">
                        Cancel
                    </button>
                </div>
            </div>

            <div class="col-lg-4 offset-lg-2" v-if="create">

                <label > New Brand :
                <input type="text" name="newBrand" v-model="newBrand"/>
                    <button type="button" class="btn btn-success" v-on:click="addBrand()" :disabled="check_existing_brand(newBrand)">
                        Create Brand
                    </button>
                </label>

            </div>
        </div>


        <div class="product-form" v-if="update">
            <div class="input-group mb-3">
                <span class="input-group-text">Product model:</span>
                <input type="text" class="form-control" placeholder="Model" aria-label="Model"
                       aria-describedby="basic-addon1" v-model="changeProduct.model">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Product brand:</span>
<!--                <input type="text" class="form-control" placeholder="Brand" aria-label="Brand"-->
<!--                       aria-describedby="basic-addon1" v-model="changeProduct.brand">-->
                <select name=""  v-model="changeProduct.brand" class="form-select" aria-label="Default select example" aria-label="Brand" aria-describedby="basic-addon1">
                    <option v-for="brand in brands"> {{ brand }} </option>
                </select>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Product price:</span>
                <input type="text" class="form-control" placeholder="Price" aria-label="Price"
                       aria-describedby="basic-addon1" v-model="changeProduct.price">
            </div>
            <div>
                <button type="button" class="btn btn-success" v-on:click="updateProduct()">
                    Validate
                </button>
                <button type="button" class="btn btn-danger" v-on:click="update = false">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>