html {
    background-color: #2e2e2e;
}

body {
    background-color: #2e2e2e;
}

.salesman {
    font-size: 42px;
    font-family: Calibri, serif;
    color: white;
}

.form_salesman {
    font-family: Calibri, serif;
    color: white;
}