html {
    background-color: #202124;
}

body {
    padding-bottom: 300px;
    padding-top: 300px;
    background-color: #202124;

}

.main_title {
    font-family: "Dubai Medium", serif;
    color: white;
    font-weight: bold;
    font-size: 500%;
    text-align: center;
    background-color: #202124;
}