.order-card{
    height: 350px;
}
.card-body-orders{
    background-color: lightsteelblue;
    border-radius: 5px;

    overflow-y: scroll;
}
.card-text-orders{
    font-family: Calibri, serif;
    font-size: large;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 2%;
    border-radius: 5px;
}
.price-card{
    /*margin-top: 5px;*/
    /*margin-left: 5px;*/
    color: black;
    font-size: 18px;
    font-weight: bold;
    font-family: Calibri, serif;
}
/*.card-footer-order{*/
/*    margin-top: 10px;*/
/*    margin-bottom: 10px;*/
/*}*/
.card-header-order{
    background-color: #DDF9FF;
}
/*.card-order-1{*/
/*    height: 475px;*/
/*}*/
.slider-order-1{
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /*margin-top: 1%;*/
    /*margin-left: 5%;*/
    /*margin-right: 5%;*/
    border-radius: 10px;
}
/*.slider-content-order-1{*/
/*    height: 200px;*/
/*}*/
.slider-button-order-1{
    text-align: center;
    /*margin-top: 20px;*/
    /*margin-bottom: 15px;*/
}
.checkbox-order-1{
    margin-left: 10px;
}

.card-body {
    /*overflow: auto;*/
    max-height: 250px;
}

::-webkit-scrollbar {
    display: none;
}