.order-card{
    max-height: 380px;
    overflow-y: scroll;
}
.container-customer-1{
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 1%;
    margin-bottom: 10%;
    border-radius: 10px;
    height: 400px;
    overflow: auto;
}
.table-customer-title{
    font-size: 35px;
    font-family: Calibri, serif;
    margin-left: 10%;
}

#radio > label {
    text-align: center;
}

.closed_tr{
    background-color:rgb(184,184,184);
    color: rgb(144,144,144)
}

.open_tr {

}

/*#table-customer-title > * {*/
/*    border: 1px solid black;*/
/*}*/

::-webkit-scrollbar {
    display: none;
}