<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BOGApp | Create new order</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css"
          integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webkit.js/0.1.0/webkit.js"
            integrity="sha512-4radB7wSGlmlQJiqgJadNNYINr9oy4iIfeTlv0a7x/AmtOqwNqtndOSusv70X0GmRstJKuNFNQ1w3T27Nq9A5w=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>

<!--NAVBAR-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header"><img height="40px" src="../../favicon.ico" alt=""
                                        style="padding-top: 10px; padding-right: 10px"/>
            <a class="navbar-brand" href="../../public/index.html">BOGApp</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="../main.html">Home</a></li>
            <li class="active"><a href="../add_customer.html">Add a customer</a></li>
            <li class="active"><a href="create_order.html">Create new order</a></li>
            <li class="active"><a href="index.html">Orders list</a></li>
            <li class="active"><a href="stats.html">Statistics</a></li>
        </ul>
    </div>
</nav>

<div id="order_form" class="container row">

    <!--SEARCHBAR-->
    <div id="product_main_searchbar" class="col-lg-10 col-lg-offset-1">
        <div class="col-lg-4" id="searchbar_div">
            <label for="searchbar">Search :
                <input type="text" id="searchbar" name="searchbar" v-model="search_string">
            </label>
        </div>

        <div class="col-lg-6">
            <div class="col-lg-12" style="margin-bottom: 2%">
                <button class="btn btn-primary" v-if="current_customer !== '' && current_category === ''"
                        v-on:click="open_filter_menu"> Category
                </button>
                <button class="btn btn-primary" v-if="current_category !== ''" v-on:click="cancel_category_menu">Clear
                    filter
                </button>
                <span v-if="current_category !== ''"> Current Category : {{ current_category }} </span>
            </div>
        </div>
    </div>
    <!--CUSTOMER TABLE-->
    <div class="col-lg-12" v-show="current_customer == ''">
        <div class="row">
            <div id="cutomer_order_table"
                 class="customer-table-list table-responsive table-striped table-hover table-bordered col-lg-10 col-lg-offset-1"
                 style="max-height: 400px; overflow: auto">
                <table class="table no-wrap user-table mb-0">
                    <thead>
                    <tr>
                        <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                        <th scope="col" class="border-0 text-uppercase font-medium">Name</th>
                        <th scope="col" class="border-0 text-uppercase font-medium">Email</th>
                        <th scope="col" class="border-0 text-uppercase font-medium">Last Order</th>
                        <th scope="col" class="border-0 text-uppercase font-medium">Manage</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(customer, index) in this.customers" v-if="search_bar_result(customer)">
                        <td class="pl-4"> {{ index + 1 }}</td>
                        <td>
                            <h5 class="font-medium mb-0"> {{customer.last_name}} {{customer.first_name}} </h5>
                            <span class="text-muted"> {{customer.street_name}} {{customer.postal_code}} {{customer.city}}</span>
                        </td>

                        <td>
                            <span class="text-muted">{{customer.mail}}</span><br>
                        </td>
                        <td>
                            <span class="text-muted">  <button v-on:click="last_order_details(customer)"
                                                               class="action_on_customer_table btn btn-secondary">
                            <i class="bi bi-info-square"></i>
                        </button> </span><br>
                        </td>
                        <td>
                            <button class="btn btn-success action_on_customer_table"
                                    v-on:click="current_customer = customer">
                                Create order
                            </button>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-lg-3" id="details_last_order">
                <div class="row">
                    <span class="col-lg-10"> Date : {{ this.current_last_order.date }}</span>
                    <button v-on:click="hide_details_last_order()"><i class="bi bi-x-circle-fill"></i></button>
                    <span class="col-lg-12"> Total : {{ this.current_last_order.total_price }} €</span>
                </div>


                <ul class="list-group" style="overflow-y: auto; max-height: 200px;">
                    <li class="list-group-item" v-for="item in this.current_last_order_list">
                        {{ item.brand[0].toUpperCase() + item.brand.substring(1).toLowerCase() }} {{ item.model }}
                    </li>
                </ul>


            </div>
        </div>

    </div>


    <!--PRODUCT TABLE-->
    <div class="col-lg-10 col-lg-offset-1 " v-show="current_customer !== ''"
         style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; max-height: 400px;">
        <div class="row col-lg-8">
            <div id="product_main_container" class="col-lg-12" style="max-height: 400px; overflow: auto">

                <table class="table col-lg-8" id="product_main_table">
                    <thead style="position: sticky;top: 0; background-color: black; color: white;" class="thead-dark">
                    <tr>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Options</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="product in products" v-if="search_bar_result(product)">
                        <td>{{ product.brand[0].toUpperCase() + product.brand.substring(1).toLowerCase() }}
                            {{ product.model }}
                        </td>
                        <td>{{ product.price }} €</td>
                        <td class="actions_column">
                            <button class="btn btn-success" v-on:click="purchase(product)">Add to cart</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4" id="category_selector_menu">
                <div class="col-lg-12">
                    <div>
                        <ul class="list-group">
                            <li class="list-group-item" v-for="cat in category" style="margin-top: 2%;"
                                v-on:click="select_current_cat(cat)"> {{ cat }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--CART-->
        <div class="col-lg-4" style="max-height: 400px;">
                    <span>
                        <h3> <b>Cart : </b>
                            {{ current_customer.first_name }}&nbsp;{{ current_customer.last_name }}
                        </h3>
                    </span>

            <div style="max-height: 250px; overflow: auto">
                <table class="table table-striped table-hover" v-if="this.cart.length > 0">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="item in this.cart">
                        <td>{{ item.brand[0].toUpperCase() + item.brand.substring(1).toLowerCase() }} {{item.model}}
                        </td>
                        <td>{{item.price}} €</td>
                        <td>
                            <button class="btn btn-danger" v-on:click="remove(item)">Remove</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div id="send_order">
                <div><h4>Total : {{ this.cart_sum }} €</h4></div>
                <button class="btn btn-success" v-on:click="validate" v-if="this.cart.length > 0">Send order</button>
                <button class="btn btn-danger" v-on:click="cancel">Cancel</button>
            </div>
        </div>
    </div>

    <!--MODAL-->
    <div id="popup">
        <h3> {{ this.modal_msg_title }} </h3>
        <div>{{ this.modal_msg_when }}</div>
        <div>{{ this.modal_msg_body }}</div>
        <div>{{ this.modal_msg_what}}</div>
    </div>
</div>
</div>
</div>
</div>

</body>
</html>

<script>
    const app = new Vue({
        el: '#order_form',
        // components: {
        //     'product_raw': {
        //         props: ['current_product'],
        //         template: `
        //           <tr>
        //           <td>{{ current_product.brand }} {{ current_product.model }}</td>
        //           <td>{{ current_product.price }}</td>
        //           <td>{{ current_product }}</td>
        //           </tr>
        //         `,
        //         data: function () {
        //             return {}
        //         },
        //         method: {}
        //     },
        // },
        data() {
            return {
                products: [], // product list
                customers: [], // customer list
                current_customer: '', // current customer order creation
                cart: [], // current cart
                cart_sum: 0, // current cart total price (in front only)
                sorted_cart: [], // ??
                search_string: '', // search bar result, filter customers & products
                category: [], // all available category (guitar, amp)
                current_category: '', // current category filter
                filter_list: false, // is my list filtered ?
                modal_status: '',
                modal_msg_title: '',
                modal_msg_body: '', /* modal content*/
                modal_msg_what: '',
                modal_msg_when: '',
                current_last_order: [], // last order details for a given customer
                current_last_order_list: [],
                last_product: ''
            }
        },
        mounted() {
            fetch("http://127.0.0.117:1017/products_orders", {method: 'GET'})
                .then((response) => response.json())
                .then((data) => {
                    this.products = data.data;
                });
            fetch("http://127.0.0.117:1017/salesman/add_customer", {method: 'GET'})
                .then((response) => response.json())
                .then((data) => {
                    this.customers = data.data;
                });
            fetch("http://127.0.0.117:1017/category", {method: 'GET'})
                .then((response) => response.json())
                .then((data) => {
                    this.category = data;
                });
        },
        methods: {
            // show data only if researched by user
            search_bar_result(obj) {
                let filter = this.search_string.toUpperCase();
                if (obj.brand && obj.model) {
                    //this.current_category === "" ? console.log(this.current_category) : console.log("obj.category.toUpperCase().includes(this.current_category))")
                    return (obj.brand.toUpperCase().includes(filter) || obj.model.toUpperCase().includes(filter)) && (this.current_category !== "" ? obj.category === this.current_category : true)
                }
                if (obj.last_name && obj.first_name) {
                    return obj.last_name.toUpperCase().includes(filter) || obj.first_name.includes(filter)
                }
            },
            // add products to temporary front cart
            purchase(obj) {
                this.cart.push(obj);
                this.sorted_cart.push(obj)
                this.cart_sum += obj.price
            },
            // cancel all and reset settings
            cancel() {
                this.current_customer = '';
                this.cart = []
                this.cart_sum = 0
                this.current_category = '';
            },
            // remove product from temporary front cart
            remove(obj) {
                this.cart.splice(this.cart.indexOf(obj), 1);
                this.sorted_cart.splice(this.sorted_cart.indexOf(obj), 1);
                this.cart_sum -= obj.price
            },
            // send an order
            validate() {
                let user_temp = this.current_customer
                const requestOptions = {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({
                        customer: this.current_customer,
                        productlist: this.cart,
                    })
                };
                fetch('http://127.0.0.117:1017/order', requestOptions)
                    .then(async response => {
                        const data = await response.json();
                        // error handling
                        if (!data.success || data.status !== 201) {
                            const error = (data && data.message) || response.status;
                            return Promise.reject(error);
                        } else if (data.status === 201) {

                            this.products = async () => {
                                await fetch('http://127.0.0.117:1017/order')
                            }
                            this.modal_status = true
                            this.modal_msg_title = "SUCCESS"
                            today = new Date()
                            this.modal_msg_when = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate() + today.getHours() + 'h' + today.getMinutes()
                            this.modal_msg_body = "La commande de " + user_temp.last_name + " " + user_temp.first_name + " a été passée "
                            await this.show_modal()

                        } else {
                            today = new Date()
                            this.modal_status = false
                            this.modal_msg_title = "ERROR"
                            this.modal_msg_what = "Creating Order"
                            this.modal_msg_when = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate() + today.getHours() + 'h' + today.getMinutes()
                            await this.show_modal(false, message)
                        }
                    })
                    .finally(this.cancel())
                    .catch(error => {
                        console.error('There was an error!', error);
                    });
            },
            // open the category menu
            open_filter_menu() {
                this.filter_list = !this.filter_list
                this.reset_size()
            },
            // select a category
            select_current_cat(obj) {
                this.current_category = obj
                this.filter_list = !this.filter_list
                this.reset_size()
            },
            // cancel category choice
            cancel_category_menu() {
                this.current_category = ''
                this.reset_size()
            },
            // UXUI resize & display customer and products list
            reset_size() {
                if (this.filter_list) {
                    document.getElementById("product_main_container").setAttribute("class", "col-lg-8")
                    document.getElementById("category_selector_menu").style.display = "block"
                    document.querySelectorAll("#product_main_table > tbody > tr > :nth-child(3)").forEach(td => {
                        td.style.opacity = "0.5"
                    })
                } else {
                    document.getElementById("product_main_container").setAttribute("class", "col-lg-12")
                    document.getElementById("category_selector_menu").style.display = "none"
                    document.querySelectorAll("#product_main_table > tbody > tr > :nth-child(3)").forEach(td => {
                        td.style.opacity = "1"
                    })
                }
            },
            // show last order details for a given customer
            show_details_last_order() {
                document.getElementById("cutomer_order_table").setAttribute("class", "customer-table-list table-responsive table-striped table-hover table-bordered col-lg-7 col-lg-offset-1")
                document.getElementById("details_last_order").style.display = "block";

                document.querySelectorAll("#cutomer_order_table > table > tbody > tr > :nth-child(n+4)").forEach(td => {
                    td.style.opacity = "0.2"
                })
                document.querySelectorAll("#cutomer_order_table > table > thead > th > :nth-child(n+4)").forEach(td => {
                    td.style.opacity = "0.2"
                })
                document.querySelectorAll(".action_on_customer_table").forEach(button => {
                    button.setAttribute("disabled", true)
                })
            },
            // hide last order details
            hide_details_last_order() {
                this.current_last_order = {};
                document.getElementById("details_last_order").style.display = "none";
                document.getElementById("cutomer_order_table").setAttribute("class", "customer-table-list table-responsive table-striped table-hover table-bordered col-lg-10 col-lg-offset-1")
                document.querySelectorAll("#cutomer_order_table > table > tbody > tr > :nth-child(n+4)").forEach(td => {
                    td.style.opacity = "1"
                })
                document.querySelectorAll("#cutomer_order_table > table > thead > th > :nth-child(n+4)").forEach(td => {
                    td.style.opacity = "1"
                })
                document.querySelectorAll(".action_on_customer_table").forEach(button => {
                    button.removeAttribute("disabled")
                })

            },
            // show modal with content
            async show_modal() {
                let x = document.getElementById("popup");
                x.style.backgroundColor = this.modal_status ? "green" : "red"
                x.classList.add("show");
                setTimeout(
                    function () {
                        x.classList.remove("show")
                    }, 8000)
            },
            // get last order for a given customer
            last_order_details(obj) {
                let customer_id = obj.id
                fetch('http://127.0.0.117:1017/last_order?customer_id=' + customer_id, {nethod: 'GET'})
                    .then((response) => response.json())
                    .then((data) => {
                        this.current_last_order = data;
                        this.current_last_order_list = this.current_last_order.productlist
                        this.show_details_last_order()
                    });
            },
        }
    })

</script>

<style>
    ::-webkit-scrollbar {
        display: none;
    }

    #category_selector_menu {
        display: none
    }

    #details_last_order {
        display: none
    }

    #popup.show {
        display: block;
        /* animation properties */
        animation-name: show_popup_animation;
        animation-duration: 5s;
        animation-direction: alternate;
        animation-iteration-count: 1;
        animation-timing-function: linear;

    }

    #popup {
        opacity: 0;
        display: none;
        position: fixed;
        width: 300px;
        height: 150px;
        right: 8%;
        bottom: 4%;
        background-color: darkblue;
        color: white;
        z-index: 100;
        transition: 8s;

    }

    @keyframes show_popup_animation {
        0% {
            opacity: 0;
            bottom: 4%;
        }
        10% {
            opacity: .6;
            bottom: 8%;
        }
        20% {
            opacity: .8;
            bottom: 12%;
        }
        30% {
            opacity: 1;
            bottom: 15%;
        }
        40% {
            opacity: 1;
            bottom: 15%;
        }
        50% {
            opacity: 1;
            bottom: 15%;
        }
        60% {
            opacity: 1;
            bottom: 15%;
        }
        70% {
            opacity: .8;
            bottom: 15%;
        }
        80% {
            opacity: .5;
            bottom: 12%;
        }
        90% {
            opacity: .2;
            bottom: 8%;
        }
        /* You could think of as "step 2" */
        100% {
            opacity: 0;
            bottom: 4%;
        }
    }
</style>

