<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BOGApp | Orders List</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css"
          integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webkit.js/0.1.0/webkit.js"
            integrity="sha512-4radB7wSGlmlQJiqgJadNNYINr9oy4iIfeTlv0a7x/AmtOqwNqtndOSusv70X0GmRstJKuNFNQ1w3T27Nq9A5w=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="../../css/order_index.css" rel="stylesheet">


</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header"><img height="40px" src="../../favicon.ico" alt=""
                                        style="padding-top: 10px; padding-right: 10px"/>
            <a class="navbar-brand" href="../../public/index.html">BOGApp</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="../main.html">Home</a></li>
            <li class="active"><a href="../add_customer.html">Add a customer</a></li>
            <li class="active"><a href="create_order.html">Create new order</a></li>
            <li class="active"><a href="index.html">Orders list</a></li>
            <li class="active"><a href="stats.html">Statistics</a></li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div id="maincontent" class="col-sm-12 col-md-12 col-lg-12">


            <div id="table-customer-title" class=" col-lg-12">

                <div class="col-lg-2">
                    <h2>All Orders</h2>
                </div>

                <div class="col-lg-4 col-lg-offset-2" style="margin-top: 1%">
                    <label class="col-lg-4"> Search :</label>
                    <input type="text" v-model="search_customer" class="col-lg-6 my-auto"/>
                </div>

                <div id="radio" class="col-lg-4" style="margin-top: 1%">
                    <input type="radio" checked name="radio_order" id="all" value="all" v-model="closed_open_sort"
                           class="col-lg-4">
                    <input type="radio" name="radio_order" id="closed" value="closed" v-model="closed_open_sort"
                           class="col-lg-4">
                    <input type="radio" name="radio_order" id="open" value="open" v-model="closed_open_sort"
                           class="col-lg-4">

                    <label for="all" class="col-lg-4">all</label>
                    <label for="closed" class="col-lg-4">closed</label>
                    <label for="open" class="col-lg-4">open</label>
                </div>


            </div>

            <div class="container container-customer-1 col-lg-8 col-lg-offset-2">
                <table class="table">
                    <thead style="position: sticky;top: 0; background-color: #f1f1f1; color: black;" class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Customer</th>
                        <th>Status</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="order in this.orders" v-if="show_search_customer(order)"
                        :class=" order.closed ? 'closed_tr' : 'non'">
                        <td> {{ order.id * 17 - order.id % 17}}</td>
                        <td> {{ order.customer.last_name }} {{ order.customer.first_name }}</td>
                        <td> {{ order.closed ? "closed" : "open"}}</td>
                        <td> {{ order.date }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!--            <div id="slider_container" class="row">-->
            <!--                <div id="slider" class="col-sm-9 col-md-9 col-lg-9"-->
            <!--                     style="border: 1px solid black;  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; margin-top: 5%; margin-left: 5%; margin-right: 5%; border-radius: 10px">-->

            <!--                    <div id="slider_content order-card" class="col-sm-8 col-md-8 col-lg-8" style="height: 400px"-->
            <!--                         :key="open_orders.length">-->

            <!--                        <span v-if="open_orders.length > 0"> {{ this.count + 1 }} / {{ this.size }}</span>-->
            <!--                        <span v-else> Empty </span>-->

            <!--                        &lt;!&ndash;<order_card/>&ndash;&gt;-->
            <!--                        <div id="order-card" class="col-sm-8 col-md-8 col-lg-8" v-for="order in this.open_orders"-->
            <!--                             v-show="active_card(order)">-->
            <!--                            <order_card :current_order="order"></order_card>-->
            <!--                            &lt;!&ndash;<button v-on:click="close_order(order)"> CLOSE CARD</button>&ndash;&gt;-->
            <!--                        </div>-->
            <!--                        <div id="slider_button" class="col-sm-8 col-md-8 col-lg-8" style="text-align: center; ">-->
            <!--                            <button class="btn btn-primary" v-on:click="previous()" :disabled="!this.count ===0 ">←-->
            <!--                            </button>-->
            <!--                            <button class="btn btn-primary" v-on:click="next()" :disabled="!this.count ===0 ">→</button>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
        </div>
    </div>
</div>
</body>
</html>

<script>
    const app = new Vue({
        el: '#maincontent',
        data() {
            return {
                orders: [],
                open_orders: [],
                products: [],
                customers: [],
                search_customer: '',
                closed_open_sort: 'all',
                count: 0,
                size: 0,
                modal_message: {
                    "date": '',
                    "message": ''
                }
            }
        },
        components: {
            'order_raw': {
                props: ['current_order'],
                template: `
                  <tr>
                  <td> {{ current_order.id * 17 - current_order.id % 17 }}</td>
                  <td> <span>
                    {{ current_order.customer.first_name }} {{ current_order.customer.last_name }}
                    </span>
                    <span>
                    {{ current_order.customer.street_name }}  {{ current_order.customer.postal_code }}
                      {{ current_order.customer.city }}
                    </span>
                  </td>
                  <td>
                    <li v-for="product in current_order.productlist">
                    <span>
                        {{ product.brand }}
                    </span>
                      <span>
                        {{ product.model }}
                    </span>
                      <span>
                        {{ product.price }}
                    </span>
                    </li>
                  </td>

                  <td>
                    {{ current_order.total_price }}
                  </td>

                  <td>
                    <button v-on:click="close_order_main(current_order)"> Close</button>
                  </td>
                  </tr>`,
                data: function () {
                    return {}
                },
                methods: {}
            },

            'order_card': {
                props: ['current_order'],
                emits: ['close_order'],
                methods: {
                    close_order_card(order) {
                        const requestOptions = {
                            method: 'PUT',
                            headers: {'Content-Type': 'application/json'},
                            body: order.id
                        };
                        fetch('http://127.0.0.117:1017/update_order', requestOptions)
                            .then(async response => {
                                const data = await response.json();
                                if (!data.success || data.status !== 202) {
                                    // get error message from body or default to response status
                                    const error = (data && data.message) || response.status;
                                    return Promise.reject(error);
                                } else if (data.status == 202) {
                                    today = new Date()
                                    this.$parent.modal_message.date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate() + today.getHours() + 'h' + today.getMinutes()
                                    this.$parent.modal_message.message = "La commande de " + data.order.customer.last_name + " " + data.order.customer.first_name + " du " + data.order.date + " a été fermée "

                                    //this.$parent.show_modal()

                                }
                            })
                            .then(() => {
                                //console.log(order.closed)
                                this.current_order.closed = 1
                                order.closed = 1
                                //console.log(order.closed)
                                this.$parent.close_order(order)
                            })
                            .finally(
                            )
                            .catch(error => {
                                console.error('There was an error!', error);
                            });
                    }
                },
                template: `
                  <div class="card">

                  <div class="card-header" style=" background-color: #DDF9FF">
                    <h4 class="card-title"> {{ current_order.customer.last_name }}
                      {{ current_order.customer.first_name }} {{ current_order.id }}</h4>
                  </div>
                  <div class="card-body" style="overflow-y: scroll; background-color: #337ab7;">

                    <div v-for="product in current_order.productlist" class="card-text"
                         style="background-color: #f1f1f1; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; border-radius: 5px">
                      <span style="margin-left: 10%">
                        <input type="checkbox">
                      </span>
                      {{ product.brand }}
                      {{ product.model }}
                    </div>
                    <div> Total : {{ current_order.total_price }}</div>
                    <div> Date : {{ current_order.date }}</div>
                  </div>

                  <div class="card-footer" style="background-color: #3357B7;">
                    <!--                    <button v-on:click="close_order_card(current_order)" class="btn btn-primary" :disabled='current_order.closed'> Close </button>-->

                    <button v-on:click="close_order_card(current_order)"
                            :class=" current_order.closed ?  'btn btn-secondary' : 'btn btn-primary'"
                            :disabled='current_order.closed'> Close
                    </button>

                  </div>
                  </div>
                `,
                data: function () {
                    return {}
                },

            },

            'popup_modal': {
                props: ['message'],
                methods: {
                    // https://codepen.io/SMLMRKHLMS/pen/rVYRLQ
                },
                template: `
                  <div id="popup">
                  <div>{{ message.date }}</div>
                  <div>{{ message.message }}</div>
                  </div>`,
                data: function () {
                    return {}
                },

            }
        },
        mounted() {
            fetch("http://127.0.0.117:1017/orders", {method: 'get'})
                .then((response) => response.json())
                .then((data) => {
                    this.orders = data.data;

                    this.orders.forEach(order => {
                        !order.closed ? this.open_orders.push(order) : null
                    })

                    //console.log(this.orders)
                    //console.log(this.open_orders)
                    // for (const [key, value] of Object.entries(this.orders)) {
                    //
                    //     console.log(`${key}: ${value}`);
                    // }

                })
                .then(() => {
                    this.size = Object.keys(this.open_orders).length
                })
                .catch(e => {
                        console.log('Error occurred with fetching resources : ' + e)
                    }
                );
            fetch("http://127.0.0.117:1017/products")
                .then((response) => response.json())
                .then((data) => {
                    this.products = data;
                });
            fetch("http://127.0.0.117:1017/salesman/add_customer")
                .then((response) => response.json())
                .then((data) => {
                    this.customers = data;
                });
        },
        methods: {

            next() {
                this.count = (this.count + 1 == this.size ? 0 : this.count + 1);
                //this.count = (this.count + 1 ) % this.size;
                //console.log(this.orders[this.count].id)
            },
            previous() {
                this.count = (this.count === 0 ? this.size - 1 : this.count - 1);
                //console.log(this.orders[this.count].id)

            },
            active_card(obj) {
                return obj ? this.open_orders[this.count].id === obj.id : false
            },
            close_order(obj) {
                this.open_orders = this.open_orders.reduce(
                    (previous, current) => (current.id !== obj.id && previous.push(current), previous), [])
                this.count = 0
                this.size = this.open_orders.length
                // /!\ this.$forceUpdate(); ==> :key
            },
            async show_modal() {
                var x = document.getElementById("popup");
                x.classList.add("show");

                setTimeout(
                    function () {
                        x.classList.remove("show")
                    }, 10000)

            },
            show_search_customer(obj) {
                if (obj) {
                    let search = obj.customer.last_name.toUpperCase().includes(this.search_customer.toUpperCase()) || obj.customer.first_name.toUpperCase().includes(this.search_customer.toUpperCase())
                    let open_or_closed;
                    switch (this.closed_open_sort) {
                        case 'all':
                            open_or_closed = true
                            break;
                        case 'closed':
                            open_or_closed = obj.closed
                            break;
                        case 'open':
                            open_or_closed = !obj.closed
                            break;
                        default:
                            return true
                    }
                    return (search && open_or_closed)
                }
                return true
            },
        }
    })
</script>

<style>

    *, ::before, ::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background: #f1f1f1;
    }

    #popup.show {
        /* animation properties */
        animation-name: show_popup_animation;
        animation-duration: 5s;
        animation-direction: alternate;
        animation-iteration-count: 1;
        animation-timing-function: linear;

    }

    #popup {
        opacity: 0;
        position: fixed;
        width: 300px;
        height: 150px;
        right: 8%;
        bottom: 4%;
        background-color: darkblue;
        color: white;
        z-index: 100;
        transition: 10s;
    }

    @keyframes show_popup_animation {
        0% {
            opacity: 0;
            bottom: 4%;
        }
        10% {
            opacity: .2;
            bottom: 8%;
        }
        20% {
            opacity: .5;
            bottom: 12%;
        }
        30% {
            opacity: .8;
            bottom: 15%;
        }
        40% {
            opacity: 1;
            bottom: 15%;
        }
        50% {
            opacity: 1;
            bottom: 15%;
        }
        60% {
            opacity: 1;
            bottom: 15%;
        }
        70% {
            opacity: .8;
            bottom: 15%;
        }
        80% {
            opacity: .5;
            bottom: 12%;
        }
        90% {
            opacity: .2;
            bottom: 8%;
        }
        100% {
            opacity: 0;
            bottom: 4%;
        }
    }
</style>