<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BOGApp | Stats</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css"
          integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"
            integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.0.0/chartjs-plugin-datalabels.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header"><img height="40px" src="../../favicon.ico" alt=""
                                        style="padding-top: 10px; padding-right: 10px"/>
            <a class="navbar-brand" href="../../public/index.html">BOGApp</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="../main.html">Home</a></li>
            <li class="active"><a href="../add_customer.html">Add a customer</a></li>
            <li class="active"><a href="create_order.html">Create new order</a></li>
            <li class="active"><a href="index.html">Orders list</a></li>
            <li class="active"><a href="stats.html">Statistics</a></li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div id="mainStats">
            <div class="container">
                <div class="row displaystats">
                    <div class="col-sm">
                        <canvas id="price_order_chart"></canvas>
                    </div>
                    <div class="col-sm">
                        <canvas id="closed_open_order"></canvas>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row displaystats">
                    <div class="col-sm-6 col-md-6 col-lg-6 text-center">
                        <h4>Best category</h4>
                        <canvas id="category_best_seller"></canvas>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 text-center">
                        <h4>Best brand</h4>
                        <canvas id="brand_best_seller"></canvas>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row displaystats">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <canvas id="order_per_day"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    const app = new Vue({
        el: '#mainStats',
        data() {
            return {
                order: [],
                open_orders: [],
                closed_order: [],
                category_best_seller: {},
                brand_best_seller: {},
                order_per_day: {}
            }
        },
        components: {
            'item': {
                props: ['current_item'],
                template: `<span>{{ current_item }} </span>`,
                data: function () {
                    return {}
                },
                methods: {
                }
            }
        },
        mounted() {
            Promise.all([
                fetch("http://127.0.0.117:1017/orders").then(value => value.json()),
                fetch("http://127.0.0.117:1017/category_best_seller").then(value => value.json()),
                fetch("http://127.0.0.117:1017/brand_best_seller").then(value => value.json()),
                fetch("http://127.0.0.117:1017/order_per_day").then(value => value.json())
            ])
                .then((json) => {
                    json[0].data.forEach(item => {
                        this.order.push(item)
                    })
                    this.category_best_seller = json[1].data
                    this.brand_best_seller = json[2].data
                    this.order_per_day = json[3].data
                }).then(() => {
            })
                .then(() => {
                    let label_order = []
                    let price_order = []
                    this.order.forEach(item => {
                        label_order.push(item.customer.last_name + " " + item.customer.first_name)
                        price_order.push(item.total_price)
                    })
                    const data_orders = {
                        labels: label_order,
                        datasets: [{
                            label: 'Order Prices',
                            backgroundColor: 'rgb(0, 99, 132)',
                            borderColor: 'rgb(0, 99, 132)',
                            data: price_order,
                        }]
                    };
                    const config_orders = {
                        type: 'line',
                        data: data_orders,
                        options: {}
                    };
                    const price_order_chart = new Chart(
                        document.getElementById('price_order_chart'),
                        config_orders
                    );
                    let closed_order_array = []
                    let open_order_array = []
                    this.order.forEach(item => {
                        item.closed ? closed_order_array.push(item) : open_order_array.push(item)
                    })
                    const open_closed = {
                        labels: ["closed : " + closed_order_array.length, "open : " + open_order_array.length],
                        datasets: [{
                            label: 'Closed and Open orders',
                            backgroundColor: 'rgb(0, 99, 132)',
                            borderColor: 'rgb(0, 99, 132)',
                            data: [closed_order_array.length, open_order_array.length],
                        }]
                    };
                    const open_closed_config = {
                        type: 'bar',
                        data: open_closed,
                        options: {}
                    };
                    const open_closed_chart = new Chart(
                        document.getElementById('closed_open_order'),
                        open_closed_config
                    );
                    let category_best_seller_labels = []
                    let category_best_seller_data = []
                    let backgroundColor_category_best_seller = []
                    for (const [key, value] of Object.entries(this.category_best_seller)) {
                        category_best_seller_labels.push(key)
                        category_best_seller_data.push(value.charAt(0).toUpperCase() + value.slice(1))
                        backgroundColor_category_best_seller.push(
                            'rgb('
                            + Math.floor(Math.random() * 255) + ','
                            + Math.floor(Math.random() * 255) + ','
                            + Math.floor(Math.random() * 255) + ')')
                    }
                    const data_category_best_seller = {
                        labels: category_best_seller_labels,
                        datasets: [{
                            labels: 'My First Dataset',
                            data: category_best_seller_data,
                            backgroundColor: backgroundColor_category_best_seller,
                            hoverOffset: 4
                        }]
                    };
                    const category_best_seller_config = {
                        type: 'pie',
                        data: data_category_best_seller,
                    };
                    const category_best_seller_chart = new Chart(
                        document.getElementById('category_best_seller'),
                        category_best_seller_config
                    );
                    let brand_best_seller_labels = []
                    let brand_best_seller_data = []
                    let backgroundColor_brand_best_seller = []
                    let total_brand_sells = 0
                    for (const [key, value] of Object.entries(this.brand_best_seller)) {
                        total_brand_sells += parseInt(value)
                    }
                    for (const [key, value] of Object.entries(this.brand_best_seller)) {
                        brand_best_seller_labels.push(key.charAt(0).toUpperCase() + key.slice(1))
                        brand_best_seller_data.push(value)
                        backgroundColor_brand_best_seller.push(this.percentColor(100 * value / total_brand_sells))
                    }
                    const data_brand_best_seller = {
                        labels: brand_best_seller_labels,
                        datasets: [{
                            labels: 'My First Dataset',
                            data: brand_best_seller_data,
                            backgroundColor: backgroundColor_brand_best_seller,
                            hoverOffset: 4
                        }]
                    };
                    const best_seller_config = {
                        type: 'pie',
                        data: data_brand_best_seller,
                    };
                    const brand_best_seller_chart = new Chart(
                        document.getElementById('brand_best_seller'),
                        best_seller_config
                    );
                    const label_order_per_day = []
                    const number_order_per_day = []
                    const price_order_per_day = []
                    for (const [date, value] of Object.entries(this.order_per_day)) {
                        label_order_per_day.push((date))
                        number_order_per_day.push(parseInt(value.split('?')[0]))
                        price_order_per_day.push(parseInt(value.split('?')[1]))
                    }
                    const max_order_number = Math.max.apply(null, number_order_per_day) + 10
                    const max_order_price = Math.max.apply(null, price_order_per_day) + 1000
                    const order_per_day_data = {
                        labels: label_order_per_day,
                        datasets: [
                            {
                                label: 'number',
                                data: number_order_per_day,
                                borderColor: 'rgb(255, 0, 0)',
                                backgroundColor: 'rgb(150, 0, 0)',
                                yAxisID: 'y',
                            },
                            {
                                label: 'Price',
                                data: price_order_per_day,
                                borderColor: 'rgb(0, 0, 255)',
                                backgroundColor: 'rgb(0, 0, 150)',
                                yAxisID: 'y1',
                            }
                        ]
                    }
                    const order_per_day_config = {
                        type: 'line',
                        data: order_per_day_data,
                        options: {
                            responsive: true,
                            interaction: {
                                mode: 'index',
                                intersect: false,
                            },
                            stacked: false,
                            plugins: {
                                title: {
                                    display: true,
                                    text: 'Order per day'
                                }
                            },
                            scales: {
                                y: {
                                    type: 'linear',
                                    display: true,
                                    position: 'left',
                                    min: 0,
                                    max: max_order_number
                                },
                                y1: {
                                    type: 'linear',
                                    display: true,
                                    position: 'right',
                                    min: 0,
                                    max: max_order_price,
                                    grid: {
                                        drawOnChartArea: false,
                                    },
                                },
                            }
                        },
                    }
                    const order_per_day_chart = new Chart(
                        document.getElementById('order_per_day'),
                        order_per_day_config
                    );
                })
                .catch((err) => {
                    console.log(err);
                });
        },
        methods: {
            percentColor(percent) {
                let r = percent < 33 ? 255 : 255 - Math.round(percent * 255 / 100);
                let g = (percent >= 33 && percent <= 66) ? 255 : 255 - Math.round(33 * 255 / 100);
                let b = percent > 66 ? 255 : 255 - Math.round(percent * 255 / 100);

                return 'rgb(' + r + ',' + g + ',' + b + ')';
            },
            fromPercent(valNum) {
                let decimalValue = Math.round(valNum * 255 / 100);

                if (valNum < 7) {
                    var hexValue = "0" + decimalValue.toString(16).toUpperCase();
                } else {
                    var hexValue = decimalValue.toString(16).toUpperCase();
                }

                return Math.round(valNum * 255 / 100);
            }
        }
    })
</script>
<style>
    .displaystats {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin: 5%;
    }
</style>