<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>BOGApp | Customers</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css"
          integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webkit.js/0.1.0/webkit.js"
            integrity="sha512-4radB7wSGlmlQJiqgJadNNYINr9oy4iIfeTlv0a7x/AmtOqwNqtndOSusv70X0GmRstJKuNFNQ1w3T27Nq9A5w=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="../js/add_customer.js"></script>
    <link href="../css/add_customer.css" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header"><img height="40px" src="../favicon.ico" alt=""
                                        style="padding-top: 10px; padding-right: 10px"/>
            <a class="navbar-brand" href="../public/index.html">
                BOGApp
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="main.html">Home</a></li>
            <li class="active"><a href="add_customer.html">Add a customer</a></li>
            <li class="active"><a href="order/create_order.html">Create new order</a></li>
            <li class="active"><a href="order/index.html">Orders list</a></li>
            <li class="active"><a href="order/stats.html">Statistics</a></li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div id="app">
            <div class="col-sm-6 col-md-6 col-lg-6 customer-list" v-if="current_customer == null">
                <h4>Customers list</h4>
                <button type="button" class="btn btn-primary" v-if="current_customer == null"
                        v-on:click="create = true; newCustomer = {}">
                    Add customer
                </button>
                <table class="table table-hover table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Update</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="customer in customers">
                        <td>
                            {{ customer.first_name }}
                        </td>
                        <td>
                            {{ customer.last_name }}
                        </td>
                        <td>
                            {{customer.mail}}
                        </td>
                        <td>
                            {{customer.street_name}}, {{customer.city}} {{customer.postal_code}}
                        </td>
                        <td>
                            <button class="btn btn-success" v-on:click="setCurrentCustomer(customer)">
                                Update
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="col-sm-7 col-md-7 col-lg-7 add_button_customer">
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6" v-else>
                <div>
                    <div class="container">
                        <h2>Update a customer</h2>
                        <form>
                            <div class="form-group row">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <label for="email">Email :</label>
                                    <input type="text" class="form-control" id="emailu"
                                           name="email" v-model="current_customer.mail">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <label for="last_name">Last Name :</label>
                                    <input type="text" class="form-control" id="last_nameu"
                                           name="last_name" v-model="current_customer.last_name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <label for="first_name">First Name :</label>
                                    <input type="text" class="form-control" id="first_nameu"
                                           name="first_name" v-model="current_customer.first_name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <label for="street_name">Street Name :</label>
                                    <input type="text" class="form-control" id="street_nameu"
                                           name="street_name" v-model="current_customer.street_name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <label for="postal_code">Postal Code :</label>
                                    <input type="text" class="form-control" id="postal_codeu"
                                           name="postal_code" v-model="current_customer.postal_code">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <label for="city">City :</label>
                                    <input type="text" class="form-control" id="cityu"
                                           name="city" v-model="current_customer.city">
                                </div>
                            </div>
                            <button type="button" class="btn-link-list btn btn-warning">
                                <a href="add_customer.html">
                                    << Back to list
                                </a>
                            </button>
                            <button type="button" class="btn btn-success" v-on:click="updateCustomer(current_customer)">
                                Update customer
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div>
                    <div class="container" v-if="create">
                        <h2>Add a customer</h2>
                        <form>
                            <div class="form-group row">
                                <div class="col-sm-8 col-md-8 col-lg-6">
                                    <label for="email">Email:</label>
                                    <input type="email" class="form-control" id="email" placeholder="Enter email"
                                           name="email"
                                           v-model="newCustomer.mail">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-8 col-md-8 col-lg-6">
                                    <label for="last_name">Last Name:</label>
                                    <input type="text" class="form-control" id="last_name" placeholder="Enter last name"
                                           name="last_name" v-model="newCustomer.last_name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-8 col-md-8 col-lg-6">
                                    <label for="first_name">First Name :</label>
                                    <input type="text" class="form-control" id="first_name"
                                           placeholder="Enter first name"
                                           name="first_name" v-model="newCustomer.first_name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-8 col-md-8 col-lg-6">
                                    <label for="street_name">Street Name :</label>
                                    <input type="text" class="form-control" id="street_name"
                                           placeholder="Enter street name"
                                           name="street_name" v-model="newCustomer.street_name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-8 col-md-8 col-lg-6">
                                    <label for="postal_code">Postal Code :</label>
                                    <input type="text" class="form-control" id="postal_code"
                                           placeholder="Enter postal code"
                                           name="postal_code" v-model="newCustomer.postal_code">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-8 col-md-8 col-lg-6">
                                    <label for="city">City :</label>
                                    <input type="text" class="form-control" id="city" placeholder="Enter city name"
                                           name="city" v-model="newCustomer.city">
                                </div>
                            </div>
                            <button type="button" class="btn btn-success" v-on:click="createCustomer()">
                                Save new customer
                            </button>
                            <button type="button" class="btn btn-danger" v-on:click="create=false">
                                Cancel
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
